<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yang.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher">
        <activity android:name=".activity.CalendarActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.AlarmListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CustomUserDefinedActivity" />
        <activity android:name=".activity.WakeUpActivity" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".activity.EditActivity"></activity>
    </application>

</manifest>
